{% extends 'world/base.html' %}
{% load static %}
{% block title %}Map{% endblock %}

{% block content %}
<div class="container-fluid map-container">
    <div class="map-left">
        <h2>Welcome to Dublin Public Amenities</h2>
        <h3>Facilities</h3>
        <div>
            <label for="facility-type">Select Facility Type:</label>
            <select id="facility-type" class="form-select" onchange="loadFacility()">
                <option value="toilets" selected>Public Toilets</option>
                <option value="parks">Parks</option>
                <option value="museums">Museums</option>
                <option value="churches">Churches</option>
                <option value="shopping_centres">Shopping Centres</option>
            </select>
            <button class="btn btn-primary mt-2" onclick="updateLocation()">Update Location</button>
            <button id="map-toggle" class="btn btn-secondary mt-2" onclick="toggleMapType()">Switch to Satellite View</button>
            <button id="toggle-favorites" class="btn btn-info mt-2" onclick="toggleFavoritesView()">Show Favorites</button>
            <button id="install-button" class="btn btn-primary" hidden>Install App</button>
        </div>
        <div id="map" style="margin-top: 20px;"></div>
    </div>


    <div class="map-right">
        <div class="bg-light p-3 rounded">
            <h1>Closest Facility</h1>
            <p>The closest facility is: <span id="closest-facility">Loading...</span></p>
            <p>Distance: <span id="distance">Loading...</span></p>
            <button id="get-route" class="btn btn-secondary mb-3" onclick="getRoute()" disabled>Get Route</button>
        </div>

        <div class="bg-light p-3 rounded mt-3 directions-container">
            <h1>Route Directions</h1>
            <ul id="directions-list" class="list-group"></ul>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/theme.js' %}"></script>
<script>
    const urls = {
        updateLocation: "{% url 'update_location' %}",
        toiletGeojson: "{% url 'toilet_geojson' %}",
        parksGeojson: "{% url 'parks_geojson' %}",
        toggleFavorite: "{% url 'toggle_favorite' %}",
        getFavorites: "{% url 'get_favorites' %}"
    };
</script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
